body{
									}
	p{
									}
	h1,.h1{
									}
	h2,.h2{
									}
	h3,.h3{
									}
	h4,.h4{
									}
	h5,.h5{
									}
	h6,.h6{
									}
	a{
									}




	
	* {
	font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Roboto', sans-serif;
}
body {
	font-size: 17px;
}
h1, .h1 {
	font-size: 48px;
}
h2, .h2 {
	font-size: 36px;
}
h3, .h3 {
	font-size: 24px;
}
h4, .h4 {
	font-size: 28px;
}
h5, .h5 {
    font-size: 17px;
    font-weight: 400;
}
h6, .h6 {
	font-size: 18px;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
.nav>li a:hover
{
    color: #fff !important;
}
.is-section.footer {
    padding: 50px 0;
}
.display h1 {
    font-weight: 300;
    text-transform: capitalize;
}
a.bondi-btn {
    background-color: #ff3150;
    color: #ffc501 !important;
    border: 1px solid #ff3150 !important;
    border-radius: 70px;
    letter-spacing: 0;
    padding: 8px 60px;
    font-weight: 500;
}
a.bondi-btn:hover {
    background-color: #111 !important;
    border-color: #111 !important;
}
h2.title, .h2.title {
	font-family: 'Roboto', sans-serif;
    color: #1a2940;
    font-weight: 500 !important;
    font-size: 40px !important;
}
.three-highlight h3 {
    color: #ffc501;
    text-transform: uppercase;
    font-weight: 500;
}
h5.subhead {
    color: #a8b9c0;
    position: relative;
    text-transform: uppercase;
    margin-bottom: 35px;
}
.is-section.is-grey-text {
    color: #a8b9c0;
}
h5.subhead:after {
    content: "ddd";
    display: block;
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    max-width: 22%;
    color: transparent;
    border-bottom: 2px solid #00c6bf;
    margin: 0 auto;
    opacity: 0.5;
}
.footer a {
    color: #a8b9c0;
}
.footer span.fa {
    background-color: #347cd2;
    min-width: 38px;
    text-align: center;
    padding: 10px 0;
    margin-right: 10px;
    border-radius: 50%;
    padding-left: 4px;
    color: #fff;
}
.footer span.fa.fa-twitter {
    background-color: #1ec4ff;
}
.footer span.fa.fa-google-plus {
    background-color: #ff4032;
}
.footer span.fa.fa-dribbble {
    background-color: #ff3298;
}
.widget.form_widget.form_widget_3 {
    display: inline-block !important;
}
.form-group {
    width: auto !important;
}
label {
    display: inline-block !important;
}
input#field_901 {
    width: auto !important;
    display: inline-block;
}
.footer .boxelement h3 {
    font-weight: 500;
}
span.email a {
    color: #fff;
}

span.email {
    background-color: #ff3150;
    padding: 8px 0;
    display: block;
    text-align: center;
    border: 1px solid #ff3150;
    border-radius: 42px;
}
.is-section.newsletter label {
    color: #000000;
    padding-right: 18px;
}
.is-section.newsletter input[type=text] {
    background: transparent !important;
    border-bottom: 1px solid #fff !important;
    box-shadow: none;
    border-radius: 0;
}
.is-section.newsletter input[type=text]::placeholder {
    color: #fff;
}
button[type=submit] {
    background-color: #19283f;
    color: #ffc501;
    border-radius: 10px;
    padding: 5px 42px;
}
.blog {
    border: 0;
}
.blog .blog-image {
    min-height: 100px;
    position: relative;
    margin-bottom: 45px;
}
.blog .blog-image .date {
    background: transparent;
    position: absolute;
    bottom: -45px;
    color: #a8b9c0;
    font-weight: normal;
}
.blog h4 {
    font-size: 18px;
    font-weight: 500;
}
.is-section.the-team h2 {
    color: #ffc501;
}
.grid figure:hover:before {
    content: "fff";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #33d1cc;
    color: transparent;
    z-index: 1;
}
.footer span.credit {
    color: #ffc501;
}
.grid figure:hover figcaption.title_on_hover {
    opacity: 1;
    z-index: 99;
    text-align: center;
}
.grid figure:hover figcaption.title_on_hover h2 {
    text-align: center;
    font-size: 20px;
    letter-spacing: 1px;
}
.grid figure:hover figcaption>a {
    z-index: 1000;
    text-indent: 200%;
    white-space: nowrap;
    font-size: 18px;
    opacity: 1;
    text-align: center;
    color: black;
}
.is-card .member-info {
    position: relative;
}
.is-card .member-info h3 {
    letter-spacing: 1px;
    background-color: #33d1cc;
    padding: 8px 0;
    text-transform: capitalize !important;
}
.is-card .member-info p {
    position: relative;
    color: #33D1CC;
    padding: 20px;
}
.navbar-custom .navbar-nav li a {
    background-color: rgba(255,255,255,0);
    color: #a8b9c0;
    font-weight: 400;
}
.isotope-filter {
    text-align: center;
}
.isotope-filter li a {
    padding: 10px 15px;
    background: transparent;
    color: #a8b9c0;
    font-weight: 500;
}
ul.isotope-filter li a.is-active {
    background: #ff3150;
    color: #ffbb06;
    border-radius: 10px;
}

	
.navbar-custom{
		background-color:rgba(255,255,255,0);
}
	.navbar-absolute-top{
		position: absolute;
		right: 0;
		left: 0;
		z-index: 1030;
		background-color: transparent;
	}

.navbar-toggle{
	background-color:rgba(0,0,0,1);
}
.header3 .slide-toggle span,.header4 .slide-toggle span{
	
}
.navbar-custom .navbar-nav li a{
	background-color:rgba(255,255,255,0);
	color:#00c7c0;
}
.navbar-custom .navbar-nav li:hover > a{
	background-color:rgba(255,255,255,0);
	color:rgba(0,0,0,0.5);
}
.navbar-custom .nav>li>a:focus, .navbar-custom .nav>li>a:hover, .navbar-custom .navbar-nav li.active a{
	background-color:rgba(255,255,255,0);
	color:rgba(0,0,0,0.5);
}
.sticky-wrapper.is-sticky .navbar-custom{
	background-color:rgba(0,0,0,1);
}
.sticky-wrapper.is-sticky .navbar-custom .navbar-nav li a{
	color:rgba(0,0,0,1);
}
.sticky-wrapper.is-sticky .navbar-custom .navbar-nav li:hover > a{
	color:rgba(0,0,0,1);
}
.header3 .sliding .sliding-menu,.header4 .sliding .sliding-menu{
	background-color:#eaeaea
}
@media (max-width: 768px){
	.navbar-collapse{
		background-color:rgba(0,0,0,0);
	}
}
