body{
									}
	p{
									}
	h1,.h1{
									}
	h2,.h2{
									}
	h3,.h3{
									}
	h4,.h4{
									}
	h5,.h5{
									}
	h6,.h6{
									}
	a{
									}




	
	* {
	font-family: 'Roboto', sans-serif;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
	font-family: 'Roboto', sans-serif;
}
body {
	font-size: 17px;
}
h1, .h1 {
	font-size: 42px;
}
h2, .h2 {
	font-size: 36px;
}
h3, .h3 {
	font-size: 30px;
}
h4, .h4 {
	font-size: 28px;
}
h5, .h5 {
	font-size: 24px;
}
h6, .h6 {
	font-size: 22px;
}
a:link, a:visited, a:hover, a:active {
    text-decoration: none;
}
.nav>li a:hover
{
    color: #fff !important;
}
.is-section.footer {
    padding: 50px 0;
}
.display h1 {
    font-weight: 300;
    text-transform: capitalize;
}
a.bondi-btn {
    background-color: #ff3150;
    color: #ffc501 !important;
    border: 1px solid #ff3150 !important;
    border-radius: 70px;
    text-transform: capitalize;
    letter-spacing: 0;
    padding: 8px 60px;
}
a.bondi-btn:hover {
    background-color: #111 !important;
    border-color: #111 !important;
}
h2.title, .h2.title {
	font-family: 'Roboto', sans-serif;
    color: #1a2940 !important;
    font-weight: 500 !important;
    font-size: 36px !important;
}

	
.navbar-custom{
		background-color:rgba(255,255,255,0);
}
	.navbar-absolute-top{
		position: absolute;
		right: 0;
		left: 0;
		z-index: 1030;
		background-color: transparent;
	}

.navbar-toggle{
	background-color:rgba(0,0,0,1);
}
.header3 .slide-toggle span,.header4 .slide-toggle span{
	
}
.navbar-custom .navbar-nav li a{
	background-color:rgba(255,255,255,0);
	color:#00c7c0;
}
.navbar-custom .navbar-nav li:hover > a{
	background-color:rgba(255,255,255,0);
	color:rgba(0,0,0,0.5);
}
.navbar-custom .nav>li>a:focus, .navbar-custom .nav>li>a:hover, .navbar-custom .navbar-nav li.active a{
	background-color:rgba(255,255,255,0);
	color:rgba(0,0,0,0.5);
}
.sticky-wrapper.is-sticky .navbar-custom{
	background-color:rgba(0,0,0,1);
}
.sticky-wrapper.is-sticky .navbar-custom .navbar-nav li a{
	color:rgba(0,0,0,1);
}
.sticky-wrapper.is-sticky .navbar-custom .navbar-nav li:hover > a{
	color:rgba(0,0,0,1);
}
.header3 .sliding .sliding-menu,.header4 .sliding .sliding-menu{
	background-color:#eaeaea
}
@media (max-width: 768px){
	.navbar-collapse{
		background-color:rgba(0,0,0,0);
	}
}
